.Shadow {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px #f44336,
        2px 2px 0px #2196f3,
        3px 3px 0px #982ab2;
}

.one {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.two {
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

.three {
    font-size: 50px;
    text-align: center;
    text-transform: lowercase;
}

.shape-1 {
    font-size: 20px;
    padding: 20px;
    background-color: #ddd;
    width: 400px;
    margin: 10px;

}

.shape-2 {
    font-size: 20px;
    padding: 20px;
    background-color: #ddd;
    width: 400px;
    margin: 10px;
    word-break: break-word;
}

.shape-3 {
    font-size: 20px;
    padding: 20px;
    background-color: #ddd;
    margin: 10px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    font-size: 80px;
    text-transform: capitalize;
    text-align: center;
    width: 250px;
    display: block;
    margin: 20px auto;
    background-color: #009688;
    padding: 30px;
    border-bottom: solid 15px #00514a;
    text-decoration: none;
    color: white;
}