div {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: #8a2be2;
    background-color: hsl(271, 76%, 53%);
    background-color: hwb(271 17% 11%);
    background-color: rgb(138, 43, 227);
    background-color: blueviolet;
}

.assign-1-shape-2 {
    background-color: rgb(138, 43, 226, 0.5);
}

.assign-1-shape-3 {
    background-color: rgb(138, 43, 226, 0.1);
}