div {
    display: inline-block;
    margin: 20px ;
    padding: 20px;
}

.assign-1-shape-1 {
    border: 5px red solid;
    outline: 5px black solid;
}

.assign-1-shape-2 {
    border: 5px solid;
    border-color: blue green;
    outline: 5px black solid;
}

.assign-1-shape-3 {
    border: 5px dashed;
    border-color: red green blue yellow;
    outline: 5px black solid;
}